body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 14px;
    font-weight: 140;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 40px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ------- */

#colors_sketch-container {
	/* same as original */
}

#colors_sketch-image-container {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 300px;
	height: 132px;
	position: relative;
	border-style: ridge;
}

#colors_sketch {
	position: absolute;
	top: 0;
	left: 0;
}

.demo {
	display:inline;
}

/* ------- */

#overhead-ocr-tools-core {
	border: 2px solid;
	border-color: #BB5700;
}

#ocr-canvas {
    position: absolute;
	top: 0;
	left: 0;
}

#ocr-canvas-image-container {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 300px;
	height: 132px;
	position: relative;
	border-style: ridge;
}

#ocr-canvas-container {
	margin-top: 4px;
    margin-left: 4px;
}

#ocr-canvas-tools, #ocr-canvas-tools>div, #ocr-canvas-tools>div>table {
	display:inline;
}

#ocr-canvas-tools {
    vertical-align:top;
}

#td-ocr-tool-result {
    height: 34px;
    border: 1px solid;
	border-color: #BB5700;
}

#ocr-tool-result>div {
	text-align: center;
	font-size: 10px;
}

#ocr-tool-result>img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#ocr-canvas-tools-draw {
    width: 200px;
}

#ocr-canvas-tools button {
	width:36px;
	height:36px;
	border-radius: 10px;
}

#ocr-tool-marker {
	background: url('../images/fonticons.jpg');
	background-position: -42px -504px;
}

#ocr-tool-decrmarkersize {
    background: url('../images/fonticons.jpg');
	background-position: -210px -462px;
}

#ocr-tool-incrmarkersize {
    background: url('../images/fonticons.jpg');
	background-position: -462px -504px;
}

#ocr-tool-eraser {
	background: url('../images/fonticons.jpg');
	background-position: -504px -210px;
}

#ocr-tool-undo {
	background: url('../images/fonticons.jpg');
	background-position: -0px -126px;
}

#ocr-tool-clear {
	background: url('../images/fonticons.jpg');
	background-position: -294px -546px;
}

#ocr-tool-snap2grid {
	background: url('../images/fonticons.jpg');
	background-position: -462px -168px;
}

#ocr-tool-drawlines {
	background: url('../images/fonticons.jpg');
	background-position: -588px -420px;
}

#ocr-tool-showgrid {
	background: url('../images/fonticons.jpg');
	background-position: -462px -672px;
}

#ocr-tool-decrgridsize {
	background: url('../images/fonticons.jpg');
	background-position: -378px -0px;
}

#ocr-tool-incrgridsize {
	background: url('../images/fonticons.jpg');
	background-position: -504px -0px;
}

#ocr-tool-savelocalstorage {
	background: url('../images/fonticons.jpg');
	background-position: -42px -210px;
}

#ocr-tool-download {
    background: url('../images/fonticons.jpg');
	background-position: -84px -210px;
}

#ocr-tool-submitimage {
	background: url('../images/fonticons.jpg');
	background-position: -504px -126px;
}

	/*positions: */
	/*background-position: -0px -0px; top-left */
	/*background-position: -42px -0px; right of top-left */
	/*background-position: -0px -42px; down of top-left*/
	
/*
http://wireframesketcher.com/mockups/images/small/FontAwesomeIcons.jpg
http://www.sesh.com/images-brush.cursor.g.32.png
http://www.mathcats.com/crafts/craftimages/tinygridofdots.gif
http://www.mathcats.com/crafts/craftimages/biggridofdots.gif
http://www.activityvillage.co.uk/sites/default/files/images/grid_paper_square_dots_460_0.jpg
*/