
canvas { 
    border-style:ridge;
}

canvas.showgrids1 { 
    background:url(../images/dots1.gif);
}

canvas.showgrids2 { 
    background:url(../images/dots2.gif);
}

canvas.showgrids3 { 
    background:url(../images/dots3.jpg);
}
