
canvas.sketchcanvas { 
    border-style:ridge;
}

canvas.sketchshowgrids1 { 
    background:url(../images/dots1.gif);
}

canvas.sketchshowgrids2 { 
    background:url(../images/dots2.gif);
}

canvas.sketchshowgrids3 { 
    background:url(../images/dots3.jpg);
}
